.form {
    padding: 20px;
    margin: 20px;
    width: 600px;
}
.form-field {
    position: relative;
    margin-bottom: 20px;
}
.form-label {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    transition: transform 250ms linear;

}
.form-input {
    width: 100%;
    margin: 0;
    padding: 10px 20px;
    font: inherit;
    border-radius: 3px;
    border: 1px solid #2a2a2a;
}
/* наступний селектр означає, що ми хочемо задати стилі селектору .form-label, що йде після .form-input, коли той у фокусі. Саме ПІСЛЯ!!! Якщо він буде ДО, то обрати його не вийде */
/* Селектор .form-input:not(:placeholder-shown)+.form-label відповідає за те, щоб наш лейбл не повертався у рядок імпута після того, як ми прибрали фокус */
/* Щоб вс е працювало і плейсхолдер не заважав в хтмл в атрибуті плайсхолдер треба залишити пробіл: placeholder=" " */
.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
    transform: translateY(-40px);
    color: tomato;
}
.icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: blueviolet;
}
.form-input:focus ~ .icon {
    background-color: blue;
}


/* !!!Такий варіант розмітки і оформлення працює для всіх браузерів! */